@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glow-text {
    text-shadow: 0 0 15px rgba(0, 255, 65, 0.4);
  }
  .shadow-glow {
    filter: drop-shadow(0 0 2px rgba(0, 255, 65, 0.3));
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-[#050505] text-[#00FF41] font-mono subpixel-antialiased overflow-hidden;
}
